# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.venv/
env/

# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# Node
node_modules/

# React
dist/

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini